@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-text: #000;
  --color-red: #bb2019;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  /* width: 50%; */
  max-width: 500px;
  max-height: 500px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.test-container {
  background: white;
  width: 100%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.test-container h1 {
  font-weight: 25px;
  font-weight: 600;
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
  /* padding-top: 30px; */
  padding: 20px 0;
}
.question {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 24px;
  color: black;
  font-weight: 600;
}
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: ease-in 120ms;
  -webkit-transition: ease-in 120ms;
  -moz-transition: ease-in 120ms;
  -ms-transition: ease-in 120ms;
  -o-transition: ease-in 120ms;
}
.btn:hover:not([disabled]) {
  background: rgb(168, 166, 166);
  color: #333;
}
.btn:disabled {
  cursor: no-drop;
}
.btn.selected {
  background: rgb(168, 166, 166);
  color: #333;
}
#submitBtn {
  display: block;
  margin: 30px auto;
  width: 50%;
  padding: 10px;
}
.function-btn {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.function-btn .function-left {
  display: flex;
}
.function-btn .function-left .countdown-timer {
  margin-right: 20px;
}
.function-btn .function-left input {
  margin-right: 5px;
}
.function-btn .function-right {
  display: flex;
  gap: 20px;
}
.card-body {
  margin: auto;
  width: 100%;
  background: #e3e3e3;
  padding: 20px;
  border-radius: 5%;
}
.table-question {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  text-align: center;
}
.cell {
  border: 1px solid;
  background-color: #fff;
  cursor: pointer;
}
.cell:hover {
  background: rgb(168, 166, 166);
  color: #333;
}
